.search-bar {
    padding: 10px;
}

.search-input input {
    padding: 0 10px;
    height: 50px;
    width: 70%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
    z-index: index 100;
}

.search-button {
    background-color: rgb(11, 88, 166);
    height: 50px;
    width: 120px;
    color: #fff;
    border: none;
    border-radius: 10px;
}
