.login-screen {
  min-height: 75vh;
}

.login-input-label {
  margin-left: 4em;
}

.login-input {
  width: 80%;
  margin-left: 3em;
  margin-bottom: 1em;
}

#login-form {
  margin: 50px auto;
  width: 30%;
  height: 60%;
  min-width: 300px;
  max-width: 500px;
  max-height: 700px;
  background-color: #ffffff;
  border-radius: 25px;
}

#login-button {
  margin: 20px auto 20px 215px;
}

#login-form-title {
  text-align: center;
  font-family: "open sans", sans-serif;
  padding: 0.5em 0;
  font-size: 3em;
}
