.profile-screen {
    background-color: rgb(11, 88, 166);
}

.form-control:focus {
    box-shadow: none;
    border-color: #0085d2;
}

.labels {
    font-size: 11px;
}

.user-email-info {
    color: black;
}

.profile-button {
    background-color: rgb(11, 88, 166);
}
