.profile-screen {
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #49b6d6 100%);
}

.form-control:focus {
  box-shadow: none;
  border-color: #0085d2;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #0ea0f4;
  color: #fff;
  cursor: pointer;
  border: solid 1px #0ea0f4;
}
