.footer {
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #49b6d6 100%);
  color: #f8f8f8;
  padding: 2rem 10% 2rem 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  margin-top: auto;
}

.left-container {
  grid-area: left;
}

.left-container span {
  color: #ffffff;
}

.left-container h6 {
  color: #ffffff;
}

.right-container {
  grid-area: right;
}

svg {
  margin: 0 0.5rem;
}

ul,
li {
  list-style-type: none;
  text-align: right;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: #e7e7e7;
}

.right-container ul,
li {
  text-align: right;
}
