@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar-color {
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #49b6d6 100%);
  height: 80px;
}

.logo {
  font-family: "Pacifico", cursive;
  position: relative;
  bottom: 6px;
  left: 1rem;
  font-size: 2rem;
  color: #ffffff;
}

.submenu {
  width: 100%;
  background-color: #0093e9;
  background-image: linear-gradient(90deg, #0093e9 0%, #49b6d6 100%);
}

.container-fluid {
  padding: 0;
  z-index: 3;
}

.navbar-toggler {
  margin-right: 1rem;
}

.nav-item {
  margin: 0 auto 0 1rem;
  font-size: 1.2rem;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.search-icon {
  position: relative;
  bottom: 5px;
  left: 2px;
}
